/* En el archivo styles.scss o app.component.scss */
.sidenav-container {
  height: 100vh;
  display: flex;
}

mat-sidenav {
  width: 250px;
}

mat-sidenav-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.active-link {
  font-weight: bold;
  color: #3f51b5;
}
